.chat-box{
    background-color: white;
    color: black;
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    overflow-x: hidden;
    overflow-y: auto;
}

.chat-box>div{
    margin-top: 8px;
    padding: 5px;
}

.chat-left{
    background-color: rgba(140, 190, 207, 0.905);
    border-radius: 5px;
    margin-right: 5px;
    padding: 8px;
    max-width: 70%;
    overflow-wrap: break-word;

}

.chat-right{
    background-color: rgba(143, 130, 167, 0.837);
    border-radius: 5px;
    padding: 8px;
    max-width: 70%;
    overflow-wrap: break-word;
    margin-left:auto;

}