.chat-box{
    background-color: white;
    color: black;
    height: 50%;
    width: 50%;
    overflow: auto;
}

.chat-box>div{
    margin-top: 5px;
}

.chat{
    background-color: rgb(216, 210, 210);
    width: fit-content;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}