.post-list{
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
}

.search-box{
    width: 80%;
    margin: auto;
}

a{
    text-decoration: none;
    color: black;
}
.post-item{
    border-bottom: 2px solid rgb(207, 207, 207);
    padding: 5px;
    text-align: center;
}
.post-item>p{
    font-size: 18px;
}

.post-detail{
    padding: 10px;
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
}

.post-detail-leader{
    padding: 10px;
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
}

.post-detail>div>input{
    margin-top: 5px;
    margin-bottom: 5px;
}

.post-detail>input{
    margin-top: 5px;
    margin-bottom: 5px;
}

.comments-box{
    margin: 8px auto;
    width: 65%;
}
.comment{
    border: 1px solid rgb(216, 210, 210);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    
}

.recruit-leader-left{
    margin: auto 5px;
    width: 60%;
}
.recruit-leader-right{
    margin: auto 0;
    width: 35%;
    overflow-x: auto;
}