.group-info{
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows : 7% 40% 53%;
       grid-template-columns:40% 60%;
       grid-template-areas: 
         "header  header"
         "notice schedule"
         "todo todo";
}
.sub-title{
    background-color: #282c34;
    color: white;
    display:flex;
    justify-content: space-between;
    padding-left: 5px;
}
.sub-title>button{
    background-color: #282c34;
    color: white;
}
.group-header {
    grid-area:header;
    display: flex;
}
.group-notice {
    grid-area : notice;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 5px 5px;
    border: 1px solid rgb(197, 193, 193);
}
.group-meeting{
    grid-area : schedule;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 5px 5px;
    border: 1px solid rgb(197, 193, 193);
}
.group-todo{
    grid-area: todo;
    margin: 5px 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(197, 193, 193);
}
.group-todo-list{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 85%;
}

.list-btn{
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1px;
    border: 1px solid rgb(227, 223, 223);
}

.todo-Box{
    border: 1px solid rgb(227, 223, 223);
    min-width: 20%;
    padding: 5px;
}
.calender-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.detail-box,.group-calender{
    width: 50%;
    padding: 5px;
}
.group-calender{
    font-size: 15px;
}
.dot {
    height: 6px;
    width: 6px;
    background-color: #f87171;
    border-radius: 50%;
    display: flex;
    margin: auto;
}
.list-info{
    border: 1px solid black;
}

.to-do-page{
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows : 40% 60%;
       grid-template-columns:30% 20% 50%;
       grid-template-areas: 
         "calender todo-list add-todo"
         "detail p1 p2";
}

.to-do-calender{
    grid-area : calender;
}
.calender{
    width: 100%;
    min-width: 60%; 
    max-width: 100%;
    height: 100%;
}

.to-do-list{
    grid-area: todo-list;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.to-do-detail{
    grid-area: detail;
    padding-left: 20px;
    background-color: blue;
}
.to-do-add{
    grid-area: add-todo;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.to-do-add>input{
    width: 50%;
    margin-bottom: 10px;
}