@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
*{
  font-family: 'Pretendard-Regular';
}

.App {
    overflow: auto;
    background-color: #282c34;
    height: 100vh;
    display: grid;
    grid-template-rows : 50px auto;
       grid-template-columns:250px auto;
       grid-template-areas: 
         "header  header"
         "nav body";
    font-size: 18px;
    color: white;
  }
  .header {
      grid-area : header;
      display: flex;
      margin: 5px 5px;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
  }
  #logo{
    color: white;
  }
  .navi {
      grid-area : nav;
      display: flex;
      margin: 5px 5px;
      background-color: white;
      border-radius: 5px;
  }
  .body {
      grid-area : body;
      display: flex;
      flex-direction: column;
      margin: 5px 5px;
      justify-content: center;
      align-items: center;
  }

  select{
    margin-bottom: 10px;
  }
  .accordion{
    width: 250px;
  }
  .group-name{
    margin: 0;
    width: 100%;

  }
  .nav{
    width: 240px;
  }
  .nav-item{
    width: 100%;
    font-size: 18px;
    text-align: center;
    padding: 3px;
    border: none;
    border-bottom: 1px solid white;
    background-color: #282c34;
    color: white;
  }

  .nav-active{
    width: 240px;
    text-align: center;
    padding: 3px;
    border: none;
    border-bottom: 1px solid #282c34;
    background-color: white;
    color: #282c34;
  }

  .nav-item>a{
    color: white;
  }

  .my-btn{
    border-radius: 5px;
    background-color: #282c34;
    color: white;
    margin: 8px 5px;
  }

  .my-btn:hover{
    background-color:white;
    border: none;
    color: #282c34;
  }

  .my-modal{
    padding: 5px;
    width: 50%;
    height: 50%;
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #282c34;
    border: 1px solid #282c34;
    color: white;
    border-radius: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
}
.pagination>li>a{
  color: #282c34;
  font-size: large;
}